{% extends 'shared/base.html' %}
{% block page_title %}مزایا اقامت در هتل سجاد{% endblock %}

{% block content %}
  <section class="py-4 my-5 container">
    <div class="border border-2 border-success rounded-5 d-flex justify-content-center align-items-center py-2 shadow-lg">
      <h1 class="display-4">مزایای اقامت در هتل سجاد</h1>
    </div>
  </section>

  <section class="container py-4 my-5">
    <div class="border border-2 border-success rounded-5 p-2 shadow-lg">
      <p class="text-muted pt-3">میهمانان گرامی می توانند با اقامت در هتل بین المللی قصر از مزایای زیر بهره مند شوند،
        امکاناتی که در هیچ هتل دیگری در ایران به صورت متشکل، مدرن و همزمان وجود ندارد.</p>
      <hr class="hr-width">

      {% for advantage in advantages %}
        <p class="py-2"><span class="text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                      fill="currentColor" class="bi bi-diamond-fill"
                                                      viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z"/>
      </svg></span>
          {{ advantage.description }}
      </p>
      {% endfor %}

    </div>
  </section>
{% endblock %}