{% extends 'shared/base.html' %}
{% block page_title %}معرفی هتل سجاد{% endblock %}

{% block content %}
  <section class="py-4 my-5 container">
    <div class="border border-2 border-success rounded-5 d-flex justify-content-center align-items-center py-2 shadow-lg">
      <h1 class="display-4">معرفی هتل سجاد</h1>
    </div>
  </section>

  <section class="container py-4 my-5">
    <div class="border border-2 border-success rounded-5 p-2 shadow-lg">
      <p class="text-muted pt-3">«هتل بین المللی سجاد نزدیکترین هتل پنج ستاره ممتاز مشهد به حرم امام مهربانی ها»</p>
      <hr width="80%" style="margin: 0 auto;">
      <div class="py-2">
        <div class="d-flex justify-content-center text-warning">
          {% for _ in '01234'|make_list %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill"
               viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
          {% endfor %}
        </div>

        <h6 class="text-success">به نام آنکه جان را فکرت آموخت</h6>
        <div class="px-5">
          {% for introduction in introductions %}
            <p class="py-2 text-justify">{{ introduction.description }}</p>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>

{% endblock %}