<!-- <header> -->
<header class="sticky-top shadow bg-success pt-1">
  <nav class="navbar navbar-expand-md navbar-dark resize-font">
    <div class="container-fluid">
      <a class="navbar-brand mx-0" href="/">
        <img src="{{ site_setting.site_logo.url }}" alt="something wrong" width="32" height="32"
             class="d-inline-block align-text-top">
        {{ site_setting.site_name }}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">خانه</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              درباره هتل
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/introduction">معرفی هتل</a></li>
              <li><a class="dropdown-item" href="/advantages">مزایای اقامت در هتل</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rooms">اتاق ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tours">تور ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#services">خدمات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tourist-center">مراکز گردشگری شهر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">گالری تصاویر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_us_page' %}">ارتباط با ما</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.is_authenticated %}{{ user.username }}{% else %}اعضا{% endif %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if not user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'login_page' %}">ورود</a></li>
                <li><a class="dropdown-item" href="{% url 'register_page' %}">ثبت نام</a></li>
              {% else %}
                {% if user.is_staff %}
                  <li><a class="dropdown-item" href="/admin">پنل مدیریت</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'dashboard_page' %}">پنل کاربری</a></li>
                <li><a class="dropdown-item" href="{% url 'logout_page' %}">خروج</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>